In [1]:
import os
os.getcwd()

'C:\\Users\\abhil'

In [2]:
os.chdir("D:\Practice Datasets\Import- Data")

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Importing the Import data for 2014 -2 015
import_14_15 = pd.read_csv("PC-import-final-2014-2015.csv")

In [5]:
# Checking the first 10 rows of the data(2014-2015).
import_14_15.head(10)

             PC_DESC UNIT OF QTY       COUNTRY  QTY  VAL (MILL US $)
0  OTHER COMMODITIES         NaN   UNSPECIFIED  NaN      6925.755648
1  OTHER COMMODITIES         NaN         KENYA  NaN         4.977579
2  OTHER COMMODITIES         NaN  TANZANIA REP  NaN         3.859614
3  OTHER COMMODITIES         NaN        UGANDA  NaN         0.006412
4  OTHER COMMODITIES         NaN         BENIN  NaN         1.030157
5  OTHER COMMODITIES         NaN      CAMEROON  NaN         3.337303
6  OTHER COMMODITIES         NaN    C AFRI REP  NaN         0.000002
7  OTHER COMMODITIES         NaN          CHAD  NaN         2.059361
8  OTHER COMMODITIES         NaN   CONGO P REP  NaN         2.304299
9  OTHER COMMODITIES         NaN         GABON  NaN         0.272850

In [7]:
# Importing the remaining of the data.
import_15_16 = pd.read_csv("PC-import-final-2015-2016.csv")
import_16_17 = pd.read_csv("PC-import-final-2016-2017.csv")
import_17_18 = pd.read_csv("Import201718.csv")

In [21]:
# Checking the first 10 rows of the data(2015-2016).
import_15_16.head(10)

      PC_DESCRIPTION UNIT      CTY_DESC  Qty  VAL(USD Million)
0  OTHER COMMODITIES  NaN   UNSPECIFIED  NaN       7349.906819
1  OTHER COMMODITIES  NaN         KENYA  NaN          2.375354
2  OTHER COMMODITIES  NaN  TANZANIA REP  NaN          4.788650
3  OTHER COMMODITIES  NaN        UGANDA  NaN          0.048373
4  OTHER COMMODITIES  NaN         BENIN  NaN          3.358105
5  OTHER COMMODITIES  NaN  BURKINA FASO  NaN          0.000057
6  OTHER COMMODITIES  NaN      CAMEROON  NaN          2.609098
7  OTHER COMMODITIES  NaN    C AFRI REP  NaN          0.000117
8  OTHER COMMODITIES  NaN          CHAD  NaN          1.420328
9  OTHER COMMODITIES  NaN   CONGO P REP  NaN          2.776202

In [29]:
# Checking the first 10 rows of the data(2016-2017).
import_16_17.head(10)

             PC_DESC UNIT OF QTY       COUNTRY  QTY  VAL (MILL US $)
0  OTHER COMMODITIES         NaN   UNSPECIFIED  NaN      6994.362548
1  OTHER COMMODITIES         NaN         KENYA  NaN         3.058141
2  OTHER COMMODITIES         NaN  TANZANIA REP  NaN         7.582766
3  OTHER COMMODITIES         NaN        UGANDA  NaN         0.000057
4  OTHER COMMODITIES         NaN         BENIN  NaN         5.537281
5  OTHER COMMODITIES         NaN      CAMEROON  NaN         2.656753
6  OTHER COMMODITIES         NaN    C AFRI REP  NaN         0.002264
7  OTHER COMMODITIES         NaN          CHAD  NaN         2.595296
8  OTHER COMMODITIES         NaN   CONGO P REP  NaN         1.392387
9  OTHER COMMODITIES         NaN         GABON  NaN         0.431098

In [10]:
# Checking the first 10 rows of the data(2017-2018).
import_17_18.head(10)

  PC_DESC UNIT OF QTY         COUNTRY        QTY  VAL (MILL US $)
0     TEA         KGS       ARGENTINA  1617240.0             2.58
1     TEA         KGS       AUSTRALIA       45.0             0.00
2     TEA         KGS         AUSTRIA     1382.0             0.00
3     TEA         KGS         BELGIUM       77.0             0.00
4     TEA         KGS          CANADA      380.0             0.02
5     TEA         KGS      CHINA P RP   758478.0             2.59
6     TEA         KGS        COLOMBIA      413.0             0.01
7     TEA         KGS         CROATIA      200.0             0.00
8     TEA         KGS  CZECH REPUBLIC      526.0             0.01
9     TEA         KGS        ETHIOPIA       12.0             0.00

In [16]:
# Checkin the Countries specified in the 'CTY_DESC' column with their respective number of occurences.
import_16_17['CTY_DESC'].value_counts()

CHINA P RP         148
U S A              147
GERMANY            146
ITALY              141
U K                140
FRANCE             137
THAILAND           136
NETHERLAND         135
MALAYSIA           135
U ARAB EMTS        133
KOREA RP           133
JAPAN              132
SPAIN              131
SINGAPORE          130
CANADA             128
BELGIUM            126
INDONESIA          126
TURKEY             125
AUSTRALIA          123
TAIWAN             119
VIETNAM SOC REP    119
POLAND             118
SWITZERLAND        117
SOUTH AFRICA       115
HONG KONG          115
SRI LANKA DSR      112
AUSTRIA            111
BRAZIL             109
BANGLADESH PR      108
DENMARK            107
                  ...
TURKS C IS           4
NEW CALEDONIA        4
BERMUDA              4
ST LUCIA             4
FAROE IS.            3
TONGA                2
LESOTHO              2
PALAU                2
TUVALU               2
NAURU RP             2
ST HELENA            2
SOUTH SUDAN          2
CHRISTMAS IS.        2
TIMOR-LESTE          2
ERITREA              2
NORFOLK IS           2
ANGUILLA             1
GRENADA              1
ANTIGUA              1
FR POLYNESIA         1
GUERNSEY             1
HEARD MACDONALD      1
GREENLAND            1
VATICAN CITY         1
BURUNDI              1
SOLOMON IS           1
PITCAIRN IS.         1
SAO TOME             1
N. MARIANA IS.       1
PANAMA C Z           1
Name: CTY_DESC, Length: 220, dtype: int64

In [18]:
# Removing the redundant column from the dataframe
import_14_15.drop(columns= ['PC_CODE','CTY_CODE'],axis = 1, inplace= True)
import_15_16.drop(columns= ['PC_CODE','CTY_CODE'],axis = 1, inplace= True)
import_16_17.drop(columns= ['PC_CODE','CTY_CODE'],axis = 1, inplace= True)

In [24]:
# Checking the columns of 4th dataset and renaming the columns of first 3 datasets with the column names of 4th one. 
print(import_17_18.columns)
import_14_15.columns, import_15_16.columns,import_16_17.columns = import_17_18.columns,import_17_18.columns,import_17_18.columns

Index(['PC_DESC', 'UNIT OF QTY', 'COUNTRY', 'QTY', 'VAL (MILL US $)'], dtype='object')

In [35]:
# Getting useful inferences regarding the Categorical variables of the dataset:
import_14_15[['PC_DESC','UNIT OF QTY','COUNTRY']].describe()

                  PC_DESC UNIT OF QTY COUNTRY
count                9584        4275    9584
unique                166           5     229
top     OTHER COMMODITIES         KGS   U S A
freq                  179        2318     152

In [36]:
# Getting useful inferences regarding the Continous Numerical variables of the dataset:
import_14_15.describe()

                QTY  VAL (MILL US $)
count  4.272000e+03      9584.000000
mean   7.972917e+06        46.748060
std    7.966424e+07       501.288841
min    0.000000e+00         0.000001
25%    1.600000e+02         0.017807
50%    6.104000e+03         0.300389
75%    1.553782e+05         4.474170
max    3.016805e+09     21803.395420

In [37]:
# Checking the number of Null values in the import_14_15 dataset:
import_14_15.isnull().sum()

PC_DESC               0
UNIT OF QTY        5309
COUNTRY               0
QTY                5312
VAL (MILL US $)       0
dtype: int64

In [38]:
# Checking the number of Null values in the import_15_16 dataset:
import_15_16.isnull().sum()

PC_DESC               0
UNIT OF QTY        5380
COUNTRY               0
QTY                5380
VAL (MILL US $)       0
dtype: int64

In [39]:
# Checking the number of Null values in the import_16_17 dataset:
import_15_16.isnull().sum()

PC_DESC               0
UNIT OF QTY        5380
COUNTRY               0
QTY                5380
VAL (MILL US $)       0
dtype: int64

In [40]:
# Checking the number of Null values in the import_17_18 dataset:
import_16_17.isnull().sum()

PC_DESC               0
UNIT OF QTY        5367
COUNTRY               0
QTY                5367
VAL (MILL US $)       0
dtype: int64

In [62]:
# Here we see the distict types of 'UNIT OF QTY'
import_17_18['UNIT OF QTY'].value_counts()

KGS    3991
NOS     117
SQM      69
LTR      58
Name: UNIT OF QTY, dtype: int64

In [54]:
#we have both 'KGS' and 'TON' in the 'UNIT OF QTY' so we converted the TON values to KGS to remove the redundancy in the data
#Note: 'TON' cannot be seen in the above data as the above cell was re ran once the changes were made.
import_14_15['QTY'] = import_14_15[['UNIT OF QTY','QTY']].apply(lambda x: x[1]* 1000 if x[0] == 'TON' else x[1], axis = 1)
import_15_16['QTY'] = import_14_15[['UNIT OF QTY','QTY']].apply(lambda x: x[1]* 1000 if x[0] == 'TON' else x[1], axis = 1)
import_16_17['QTY'] = import_14_15[['UNIT OF QTY','QTY']].apply(lambda x: x[1]* 1000 if x[0] == 'TON' else x[1], axis = 1)
import_17_18['QTY'] = import_14_15[['UNIT OF QTY','QTY']].apply(lambda x: x[1]* 1000 if x[0] == 'TON' else x[1], axis = 1)

import_14_15['UNIT OF QTY'].replace(to_replace = 'TON',value = 'KGS', inplace = True)
import_15_16['UNIT OF QTY'].replace(to_replace = 'TON',value = 'KGS', inplace = True)
import_16_17['UNIT OF QTY'].replace(to_replace = 'TON',value = 'KGS', inplace = True)
import_17_18['UNIT OF QTY'].replace(to_replace = 'TON',value = 'KGS', inplace = True)

In [65]:
# Data Set has been cleaned with ignoring the Null Values and we the changes has been saved backed to the original dataset by
#the following commands.
import_14_15.to_csv('D:\Practice Datasets\Import- Data\PC-import-final-2014-2015.csv', index = False)
import_15_16.to_csv('D:\Practice Datasets\Import- Data\PC-import-final-2015-2016.csv', index = False)
import_16_17.to_csv('D:\Practice Datasets\Import- Data\PC-import-final-2016-2017.csv', index = False)
import_17_18.to_csv('D:\Practice Datasets\Import- Data\Import201718.csv', index = False)